
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 90px;
    background-image: url(./teste/rick-and-morty-4k-nawpic.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    
  }
  

  .container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 100px;
    width: 100%;
    max-width: 700px;
    text-align: center;
   
      background-color: rgba(145, 164, 226, 0.5); 
    
  
  
  .detalhepk {
    font-size: 2em;
    color: #ffffff; 
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 10px;
    display: block;
  }
  
  input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .buttonimg {
    background-color: hsl(251, 79%, 78%);
    color: #181510; 
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .buttonimg:hover {
    background-color: #7243f1; 
    color: #fff;
  }
  

  .pokemon-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #8c71ec;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(12, 7, 7, 0.1);
    min-height: 100px; 
  }
  
  .pokemon-details h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .pokemon-details p {
    margin: 10px 0;
  }

  .logo {
    border-radius: 9px;
    box-shadow:  px 8px rgba(0,0,0,0.1);
    padding: 230px;
  
  
    text-align: center;
    background-image:url(./teste/logo2-removebg-preview.png);
    transition: transform 1.5s ease;
    transform: scale(1.2);

  }